body{
    position: relative;
    width: 1440px;
    height: 1024px;
    
    background-color: #F3F5FC;

    margin: 0 auto;
}

header img{

    height: 48px;
    width: 31px;
    left: 44px;
    top: 0px;
    border-radius: 0px;
    padding: 2.8% 5.5%;
}

.textIn{
    padding: 11.7% 16.7%;

}